@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
  font-family: 'roboto', sans-serif;
}

div#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

section {
  max-width: 960px;
  margin: 0 auto;
  text-align: justify;
  padding: 10px 40px;

  > h1 {
    text-align: center;
  }

  > img {
    display: block;
    margin: 0 auto;
    width: fit-content;
    border-radius: 20px;
    aspect-ratio: 2.5 / 1;
    object-fit: cover;
  }

  > p::first-letter {
    font-size: 20px;
    padding-left: 20px;
  }
}