html {
  margin: 10px;
}

main {
  box-sizing: border-box;
  > section {
    display: grid;
    grid-template: 50px repeat(7, 1fr) / repeat(3, 1fr);
    place-items: center;
    
    > h1 {
      grid-column-start: span 3;
      text-align: center;
    }
    }
}


/* FLEXAI */


.flexPirmas {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  justify-content: space-evenly;
  align-content: space-evenly;

  div {
    background-color: tomato;
    width: 33%;
    height: 33%;
  }
  div:nth-child(2) {
    width: 66%;
  }
  div:nth-child(3) {
    width: 66%;
  }
  div:nth-child(6) {
    width: 66%;
  }
}

.flexAntras {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid black;
  justify-content: space-evenly;
  align-content: space-evenly;

  div {
    height: 33%;
    width: 33%;
    background-color: tomato;
  }
  div:nth-child(2) {
    height: 66%;
  }
  div:nth-child(3) {
    height: 66%;
  }
  div:nth-child(6) {
    height: 66%;
  }
}

.flexTrecias {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  justify-content: space-evenly;
  align-content: space-evenly;

  div:first-child {
    height: 66%;
    width: 100%;
    display: flex;
    gap: 1px;

    >div:first-child {
      width: 66%;
      height: 100%;
      background-color: tomato;
    }

    > div:nth-child(2) {
      width: 33%;
      height: 100%;

      display: flex;
      flex-direction: column;
      gap: 1px;

      > div {
        height: 50%;
        background-color: tomato;
      }
    }
  }

  > div:nth-child(2) {
    height: 33%;
    display: flex;
    gap: 1px;

    > div {
      width: 33%;
      height: 100%;
      background-color: tomato;
    }
  }
}

.flexVienuolika {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
  border: 2px solid black;
  justify-content: space-evenly;
  align-content: space-evenly;

  div {
    width: 19%;
    height: 19%;
    background-color: tomato;
  }

  div:first-child {
    width: 100%;
    height: 80%;
  }
}

.flexDvylika {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: flex;
  gap: 5px;
  padding: 5px;
  border: 2px solid black;
  justify-content: space-evenly;
  align-content: space-evenly;

  div {
    width: 19%;
    background-color: tomato;
  }
}

.flexTrylika {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  border: 2px solid black;
  justify-content: space-evenly;
  align-content: space-evenly;

  div {
    height: 19%;
    background-color: tomato;
  }
}

.flexPenkiolika {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 3px;
  border: 2px solid black;
  justify-content: space-evenly;
  align-content: space-evenly;

  div {
    width: 24.5%;
    height: 24%;
    background-color: tomato;
  }

  div:nth-child(1) {
    width: 33%;
  }

  div:nth-child(2) {
    width: 33%;
  }

  div:nth-child(3) {
    width: 33%;
  }

  div:nth-child(8) {
    width: 33%;
  }

  div:nth-child(9) {
    width: 33%;
  }

  div:nth-child(10) {
    width: 33%;
  }
}

.flexAstuoniolika {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid black;
  justify-content: space-evenly;
  align-content: space-evenly;

  div {
    height: 33%;
    width: 33%;
    background-color: tomato;
  }

  div:nth-child(4) {
    height: 49.5%;
  }

  div:nth-child(5) {
    height: 49.5%;
  }
}

.flexDvidesimt {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 3px;
  border: 2px solid black;
  justify-content: space-evenly;
  align-content: space-evenly;

  div {
    width: 24.5%;
    height: 33%;
    background-color: tomato;
  }
}


/* GRIDAI */


.gridPirmas {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: grid;
  gap: 5px;
  padding: 5px;
  border: 2px solid black;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);

  div {
    width: 100%;
    background-color: tomato;
  }

  div:nth-child(2) {
    grid-column-start: span 2;
  }

  div:nth-child(3) {
    grid-column-start: span 2;
  }

  div:nth-child(6) {
    grid-column-start: span 2;
  }
}

.gridAntras {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: grid;
  gap: 5px;
  padding: 5px;
  border: 2px solid black;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);

  div {
    width: 100%;
    background-color: tomato;
  }

  div:nth-child(2) {
    grid-row-start: span 2;
  }

  div:nth-child(4) {
    grid-row-start: span 2;
  }

  div:nth-child(5) {
    grid-row-start: span 2;
  }
}

.gridTrecias {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: grid;
  gap: 5px;
  padding: 5px;
  border: 2px solid black;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);

  div {
    width: 100%;
    background-color: tomato;
  }

  div:first-child {
    grid-area: 1 / 1 / 3 / 3;
  }
}

.gridKetvirtas {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: grid;
  gap: 5px;
  padding: 5px;
  border: 2px solid black;
  grid-template: repeat(4, 1fr) / repeat(5, 1fr);

  div {
    width: auto;
    background-color: tomato;
  }

  div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
  }

  div:nth-child(3) {
    grid-area: 1 / 4 / 2 / 6;
  }

  div:nth-child(5) {
    grid-area: 2 / 2 / 4 / 5;
  }

  div:nth-child(9) {
    grid-area: 4 / 1 / 5 / 3;
  }

  div:nth-child(11) {
    grid-area: 4 / 4 / 5 / 6;
  }
}

.gridPenktas {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: grid;
  gap: 5px;
  padding: 5px;
  border: 2px solid black;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);

  div {
    width: auto;
    background-color: tomato;
  }

  > div:nth-child(2) {
    grid-column-start: span 2;
  }

  > div:nth-child(4) {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 5px;
    background-color: white;

    div {
      background-color: tomato;
    }
  }

  div:nth-child(6) {
    grid-column-start: span 2;
  }
}

.gridSestas {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: grid;
  gap: 5px;
  padding: 5px;
  border: 2px solid black;
  grid-template: 2fr 1fr 1fr / 1fr 1fr 2fr 2fr;

  div {
    width: auto;
    background-color: tomato;
  }

  div:first-child {
    grid-area: 1 / 1 / 2 / -1;
  }

  div:nth-child(4) {
    grid-row-end: span 2;
  }

  div:nth-child(5) {
    grid-row-end: span 2;
  }

  div:nth-child(6) {
    grid-column-end: span 2;
  }
}

.gridSeptintas {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: grid;
  gap: 5px;
  padding: 5px;
  border: 2px solid black;
  grid-template: repeat(4, 1fr) / 1fr 2fr 1fr;

  div {
    width: auto;
    background-color: tomato;
  }

  div:nth-child(1) {
    grid-row-end: span 2;
    grid-column-end: span 2;
  }

  div:nth-child(5) {
    grid-row-end: span 2;
    grid-column-end: span 2;
  }
}

.gridAstuntas {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: grid;
  gap: 5px;
  padding: 5px;
  border: 2px solid black;
  grid-template: repeat(4, 1fr) / 1fr 2fr 1fr;

  div {
    width: auto;
    background-color: tomato;
  }

  div:nth-child(1) {
    grid-row-end: span 2;
    grid-column-end: span 3;
  }

  div:nth-child(3) {
    grid-row-end: span 2;
  }
}

.gridDevintas {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: grid;
  gap: 5px;
  padding: 5px;
  border: 2px solid black;
  grid-template: 1fr 2fr 1fr 1fr 1fr / repeat(5, 1fr);

  div {
    width: auto;
    background-color: tomato;
  }

  div:nth-child(1) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }

  div:nth-child(5) {
    grid-row-start: span 2;
    grid-column-start: span 3;
  }

  div:nth-child(8) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }

  div:nth-child(9) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
}

.gridDesimtas {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: grid;
  gap: 5px;
  padding: 5px;
  border: 2px solid black;
  grid-template: repeat(6, 1fr) / 2fr 1fr 1fr 2fr;

  div {
    width: auto;
    background-color: tomato;
  }

  div:nth-child(1) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }

  div:nth-child(3) {
    grid-row-start: span 2;
  }

  div:nth-child(5) {
    grid-row-start: span 2;
  }

  div:nth-child(7) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }

  div:nth-child(9) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }

  div:nth-child(11) {
    grid-row-start: span 2;
  }
}

.gridVienuolika {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: grid;
  gap: 5px;
  padding: 5px;
  border: 2px solid black;
  grid-template: 4fr 1fr / repeat(5, 1fr);

  div {
    width: 100%;
    background-color: tomato;
  }

  div:nth-child(1) {
    grid-column-start: span 5;
  }
}

.gridDvylika {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: grid;
  gap: 5px;
  padding: 5px;
  border: 2px solid black;
  grid-template-columns: repeat(5, 1fr);

  div {
    width: 100%;
    background-color: tomato;
  }
}

.gridTrylika {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: grid;
  gap: 5px;
  padding: 5px;
  border: 2px solid black;
  grid-template-rows: repeat(5, 1fr);

  div {
    width: 100%;
    background-color: tomato;
  }
}

.gridKeturiolika {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: grid;
  gap: 5px;
  padding: 5px;
  border: 2px solid black;
  grid-template: repeat(6, 1fr) / repeat(4, 1fr);

  div {
    width: auto;
    background-color: tomato;
  }

  div:nth-child(3) {
    grid-row-start: span 3;
  }

  div:nth-child(5) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }

  div:nth-child(8) {
    grid-row-start: span 3;
  }

  div:nth-child(10) {
    grid-row-start: span 3;
    grid-column-start: span 2;
  }
}

.gridPenkiolika {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: grid;
  gap: 5px;
  padding: 5px;
  border: 2px solid black;
  grid-template: repeat(4, 1fr) / 3fr 1fr 2fr 2fr 1fr 3fr;

  div {
    width: 100%;
    background-color: tomato;
  }

  :nth-child(1), :nth-child(2), :nth-child(3) {
    grid-column-start: span 2;
  }

  :nth-child(5) {
    grid-column-start: span 2;
  }

  :nth-child(6) {
    grid-column-start: span 2;
  }

  :nth-child(8), :nth-child(9), :nth-child(10) {
    grid-column-start: span 2;
  }

  :nth-child(12) {
    grid-column-start: span 2;
  }

  :nth-child(13) {
    grid-column-start: span 2;
  }
}

.gridSesiolika {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: grid;
  gap: 5px;
  padding: 5px;
  border: 2px solid black;
  grid-template: 2fr 2fr 1fr 1fr / repeat(4, 1fr);

  div {
    width: auto;
    background-color: tomato;
  }

  div:first-child {
    grid-area: 1 / 1 / 2 / -1;
  }

  div:nth-child(2) {
    grid-area: 2 / 1 / 3 / -1;
  }

  div:nth-child(3) {
    grid-row-start: span 2;
  }

  div:nth-child(5) {
    grid-row-start: span 2;
  }
}

.gridSeptyniolika {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: grid;
  gap: 5px;
  padding: 5px;
  border: 2px solid black;
  grid-template: repeat(4, 1fr) / 2fr 1fr 1fr;

  div {
    width: auto;
    background-color: tomato;
  }

  div:first-child {
    grid-area: 1 / 1 / -1 / 2;
  }

  div:nth-child(2) {
    grid-column-start: span 2;
  }

  div:nth-child(5) {
    grid-column-start: span 2;
  }
}

.gridAstuoniolika {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: grid;
  gap: 5px;
  padding: 5px;
  border: 2px solid black;
  grid-template: 2fr 1fr 1fr 2fr / repeat(3, 1fr);

  div {
    width: 100%;
    background-color: tomato;
  }

  div:nth-child(2), div:nth-child(4), div:nth-child(5), div:nth-child(6) {
    grid-row-start: span 2;
  }
}

.gridDevyniolika {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: grid;
  gap: 5px;
  padding: 5px;
  border: 2px solid black;
  grid-template: 2fr repeat(4, 1fr) / 2fr repeat(4, 1fr);

  div {
    width: auto;
    background-color: tomato;
  }

  div:first-child {
    grid-area: 1 / 1 / 4 / 4;
  }

  div:nth-child(2) {
    grid-column-start: span 2;
  }

  div:nth-child(7) {
    grid-row-start: span 2;
  }

  div:nth-child(10) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
}

.gridDvidesimt {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  display: grid;
  gap: 5px;
  padding: 5px;
  border: 2px solid black;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);

  div {
    width: 100%;
    background-color: tomato;
  }
}