@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
  background-color: #f3f3f3;
}

article {
  text-align: justify;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  > * {
    max-width: 900px;
  }

  > h1, h3 {
    text-align: center;
  }

  > img {
    display: block;
    margin: 0 auto;
    width: fit-content;
    border-radius: 20px;
    aspect-ratio: 2.5 / 1;
    object-fit: cover;
  }

  > p {
    margin-top: 0;
  }

  > p::first-letter {
    font-size: 20px;
    padding-left: 20px;
  }
}