body {
  position: relative;
}

.randomUserCard{
  box-sizing: border-box;
  width: 300px;
  padding: 10px;
  border: 3px dashed black;

  > * {
    margin: 0;
  }

  > * + * {
    margin: 1rem;
  }

  > img {
    border-radius: 50%;
    width: 65%;
    display: block;
    margin: 0 auto;
    border: 3px dotted #b57600;
  }

  > h1 {
    text-align: center;
  }
}

#updateISS {
  position: absolute;
}

#flats {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.flatCard {
  box-sizing: border-box;
  width: 300px;
  padding: 10px;
  border: 1px solid black;

  > * {
    margin: 0;
  }

  > * + * {
    margin: 1rem;
  }

  > img {
    width: 100%;
  }
}